<div ng-controller="playersCtrl" class="balldiv">
  <input ng-model="searchterm" type="text" name="" value="">
  <button ng-click="searchPlayer()"  type="button" name="">search</button>
  <div ng-repeat="player in players" class="">
    <a ng-href="#">{{player.first_name}} {{player.last_name}}</a>
  </div>
  <div class="mainname">Futbxl.com</div>
  <img class="soccerball" src="./images/home/soccerball.jpeg" alt="">
  <div class="slugline">Where the World Comes for Soccer</div>
</div>

<div class="about">
  <img class= "stadium" src="./images/home/stadium.jpg" alt="">
  <p class="aboutext">We are Soccer Fans with a Goal
    <br>to Complie the Worlds Soccer Information
    <br>and Iterate from There
    <br>Ultimately Connecting you to Soccer in a way Never Before Possible</p>
</div>
