<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="playerpic">
      <img src="../images/players/RimandoHeadshot.jpg" alt="">
    </div>

    <div class="name">
      <h1>Nick Rimando</h1>
      <p>The Wall of the Wasatch</p>
      <h1>18</h1>
    </div>

    <div class="team">
      <img src="../images/teamcrests/RSLogo.png" alt="">
      <p>Real Salt Lake</p>
    </div>

    <div class="nationalteam">
      <p>National Team Affiliation</p>
      <img src="../images/flags/unitedstatesflag.png" alt="">
    </div>

    <div class="playerinfo">
      <p>Goalkeeper</p>
      <p>Age: 37</p>
      <p>Birthdate: 06/17/1979</p>
      <p>Birthplace: Fontana, California USA</p>
      <img src="../images/flags/unitedstatesflag.png" alt="">
      <p>Height: 5' 10"</p>
      <p>Weight: 189 lbs.</p>
      <p>Salary: ???</p>
    </div>

    <div class="playersponsors">
      <h3>Sponsored By:</h3>
      <p>Nike</p>
      <p>SkullKandy</p>
    </div>

    <div class="bio">
      <h3>Player Bio</h3>
      <p>Solidifying himself as the best goalkeeper in Major League Soccer history, Nick Rimando broke numerous all time records in his 2,700 minutes of play in 2016. Earning 6 shutouts, Rimando made 91 saves in 30 starts for RSL. On August 6 Rimando earned his 181st career win to become the all time leader in wins among goalkeepers in MLS history, surpassing Kevin Hartman’s 180 wins. Rimando holds a career record of 183-140-101. Rimando now holds nearly every goalkeeping record that the league has to offer leading the way in games played (424), games started (424), minutes (38,313), wins (183), and shutouts (129). He is slowly working his way into the lead for the most saves in league history. On August 19 Rimando won the all-time best MLS goalkeeper bracket in a fan and player vote during MLS’s goalkeeper week, surpassing 15 other goalkeepers in the process.</p>
    </div>

    <div class="socialmedia">
      <p>twitter: @NICKRIMANDO</p>
    </div>
  </body>
</html>
