<div class="teamlogo">
  <img src="../images/teamcrests/RSLogo.png" alt="">
  <h1>Real Salt Lake</h1>
  <h3>Rioters</h3>
</div>

<div class="league">
  <p>League:</p>
  <p>MLS</p>
  <p>Major League Soccer</p>
  <img src="../images/leaguelogo/mlslogo.gif" alt="">
  <img src="../images/regionlogo/concacaf_logo.png" alt="">
  <img src="../images/flags/unitedstatesflag.png" alt="">
</div>

<div class="teamstuff">
  <p>Founded: 2005</p>
  <p>Official Website: www.rsl.com</p>
  <p>Owners: Dell Loy Hansen</p>
  <p>Manager: Mike Petke</p>
  <p>Official Colors: Claret Cobalt</p>
</div>

<div class="roster">
  <h1>Players</h1>
  <p>Nick Rimado, Kyle Bekerman, Joao Plata,
  </p>
</div>

<div class="stadium">
  <h3>Stadium</h3>
  <p>Rio Tinto Stadium</p>
  <p>address: 9256 State St. Sandy, UT 84070</p>
  <img src="../images/stadiums/riotinto.jpeg" alt="">
</div>

<div class="jersey">
  <h3>Kits</h3>
  <p>Primary</p>
  <img src="../images/kits/rslprimary.jpeg" alt="">
  <p>Secondary</p>
  <img src="../images/kits/rslsecondary.jpeg" alt="">
  <p>Third</p>
  <p>Kit Sponsor: Life Vantage</p>
</div>
