font-family: 'Cabin', sans-serif;
font-family: 'Rock Salt', cursive;
* {box-sizing: border-box;}

body {
    margin: 0;
}
.navBar{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 60px;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 25px;
}
.siteName{
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
}
.navBarLink{
  display: inline-flex;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}
.search{
  font-family: 'Cabin', sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 23px;
  margin-left: 50px;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  width: 300px;
  text-align: center;
  margin-right: 35px;
  height: 30px;

}
.signIn{

}
.signUp{
  height: 30px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  margin-top: 23px;
  margin-right: 40px;
}


    /*Media Queries*/
@media screen and (max-width: 1100px){

}
@media screen and (max-width: 500px){

}
